*{
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
}

.container{
	width:90%;
	padding:0 10px;
}

.row{
	display:flex;
	flex-wrap:wrap;
}
.col12{
	width:100;
	padding:0 10px;
}

#form_content{
	display:flex;
	align-items:center;
	justify-content:center;
	gap:40px;
	margin-top:30px;
}